html {
    overflow: scroll;
}

body {
     padding-top: 60px;
}

/* -------------------------------------------------------------- */

pre.prettyprint {
	padding: 8px;
	border: 1px solid #D0D0D0;
}

p.comment {
	color: #A0A0A0;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

/* -------------------------------------------------------------- */

.hero-unit {
  padding: 40px;
  background-image: url(../img/herobg.png);
  background-repeat:repeat;
  border:1px solid #C0C0C0;
  margin-top:20px;
}

.hero-unit .btn-large {
    padding-left: 74px;
    margin-top: 7px;
}

.hero-unit .btn-large .img-github {
    position:absolute;
    margin-left:-65px;
}

.hero-unit p {
    text-align:justify;
    line-height:25px;
    font-size:16px;    
}

.hero-unit hr {
    color: #C0C0C0;
    background-color: #C0C0C0;
    height: 1px;
    border: 0px; 
    margin-top: 7px;
    margin-bottom: 7px;
}

/* -------------------------------------------------------------- */

.section-theme {
    margin-top: 15px;
    margin-bottom: 10px;    
}

.section-theme h2 {
    color: #505050;
    font-size: 28px;
    line-height: 28px;  
    padding-top:10px;
    padding-bottom:6px;
    border-bottom:1px solid #505050; 
}

.section-synonym h3 {
    font-size: 18px;
    line-height: 20px;   
}

.section-synonym:hover pre {
  	background: #F8F8E0;
  	-webkit-transition: background 100ms;
  	-moz-transition: background 100ms;
	-o-transition: background 100ms;
  	-ms-transition: background 100ms;
  	transition: background 100ms;
}

/* -------------------------------------------------------------- */

ul.classtree, ul.classtree ul {
	list-style-type: none;
	background: url(../img/tree-vline.png) repeat-y;
	margin: 0px;
	padding: 0;
}
 
ul.classtree ul {
	margin-left: 4px;
}

ul.classtree li {
	margin: 0;
	padding: 0 12px;
	line-height: 18px;
	background: #FCF8E3 url(../img/tree-node.png) no-repeat;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	color: #000;
	font-weight: bold;
}

ul.classtree li.last {
	background: #FCF8E3 url(../img/tree-lastnode.png) no-repeat;
}
 
ul.classtree li.first {
	background: #FCF8E3 no-repeat;
	margin: 0;
	padding: 0;
}
  
/* -------------------------------------------------------------- */
  
